body {
margin: 0;
padding: 0;
font-family: sans-serif;
}

#container {
width: 940px;
margin: 0 auto;
padding: 10px;
}
a {
	color: #006699;
	text-decoration: none;
	font-size: 1.5em;
}

#logo { text-align: center; }

.field { float: left; font-size: 1.2em; width: 100%; margin: 20px; }

.field input { width: 600px; font-size: 2em; text-align: left;}

.fieldset { text-align: center;}

#message-line {width:600px;}

#download { text-align: center; margin: 10px;}

#message-placeholder { background: url(wait.png); height: 495px; width: 100%; margin: 0 auto; }

#footer { font-size: 0.8em; color: #5A5A5A; text-align: center; margin-top: 35px;}